<div>
  <span>Name:</span> <span><%= @jumper.name %></span>
</div>
<div>
  <span>Distance:</span>
  <%= @jumper.distance_string %>
  <%= @jumper.jump_image %>
</div>
<div>
  <span>Finished? :</span> <%= @jumper.finished %>
</div>
<div>
  <span>Reviewed at :</span> <%= @jumper.reviewed_at_string %>
</div>



